.container{
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form{
    display: flex;
    gap: 5px;
    margin: auto;

}

.taskInput{
    margin: auto;
    padding: 10px;
    border-radius: 6px;
    border: solid 1px #999;
    width: 100%;
}

.btnCreateTask{
    border: solid 0.1px rgb(8, 8, 8);
    border-radius: 6px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: black;
    color: aliceblue;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.555);
    transition: all 0.4s;

}

.btnCreateTask:hover,#buttonEdit:hover,#button{
 background-color: aquamarine;
 color: rgb(5, 5, 5);
 padding: 10px 20px;
 box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.555);
cursor: pointer;

}


.tasksContainer{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.taskToDo{
    padding: 5px;
    background-color: rgb(243, 243, 243);
    border-radius: 12px;
}

.taskTitle{
 flex: 1;
 font-size: 20px;
 padding: 10px;
}

#taskUpdateForm, #taskInformation{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    

}
#taskUpdateForm button{
    border: solid 0.1px rgb(8, 8, 8);
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.555);
    border-radius: 6px;
    transition: all 0.4s;

}
#taskUpdateForm button:hover{
    border: solid 0.1px rgb(8, 8, 8);
    background-color: aquamarine;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.555);
    border-radius: 6px;

}
#buttonDelete,#buttonDone,#buttonDoneStarted,#buttonDoneFinish,#buttonDoneFinished,#buttonDoneReply{
    border: solid 0.1px rgb(8, 8, 8);
    background-color: black;
    color: aliceblue;
    padding: 8px 10px;
    font-weight: bold;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.555);
    border-radius: 6px;
    transition: all 0.4s;

}
#buttonEdit{       
    background-color: rgb(243, 243, 243);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;

}
#buttonEdit:hover{
    color: rgb(138, 135, 135);
    background-color: rgb(243, 243, 243);
    box-shadow: none;

}

#buttonDoneFinish{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
#buttonDoneFinish:hover{
    background-color: rgb(7, 211, 58);
    color: rgb(0, 0, 0);
    cursor: pointer;
}
#buttonDelete{
    background-color: rgb(190, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;

}

#buttonDelete:hover{
    background-color: rgb(248, 8, 8);
    color: black;
    cursor: pointer;
}
#buttonDone{
    background-color: rgb(0, 0, 0);
    color:white;    
    cursor: pointer;
   
}
#buttonDone:hover{
    background-color: aquamarine;
    color: black;
    cursor: pointer;

}
#buttonDoneStarted{
    background-color: rgb(235, 223, 4);
    color: black;
    cursor: pointer;
    font-size: 13px;
}
#buttonDoneStarted:hover{
    background-color: rgb(245, 233, 6);
    color: black;
    cursor: pointer;

}
.containerDoneStarted{
    background-color: rgb(235, 223, 4);
    border-radius: 6px;
}
.containerDoneFinished{
    background-color: rgb(110, 110, 110);
    border-radius: 6px;
    color: #999;
}
#buttonDoneFinished{
    background-color: rgb(7, 211, 58);
    color: black;
    cursor: pointer;
}
#buttonDoneFinished:hover{
    background-color: rgb(5, 223, 59);
    color: black;
    cursor: pointer;
}

#buttonDoneReply{
    background-color: rgb(110, 110, 110);
    border-radius: 6px;
    color: #888;
}
#buttonDoneReply:hover{
    background-color: rgb(122, 122, 122);
    border-radius: 6px;
    color: #999;
    cursor: pointer;

}